.todo-item {
  border-top: 1px solid #eee;
  padding: 16px;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: none;
  border: none;
  color: #cc9a9a;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.2s;
}

.delete-btn:hover {
  color: #af5b5e;
}
